@import "/src/assets/styles/variables";
@import "bootstrap/scss/bootstrap.scss";

.hero-bg{
    background-color: $dark-blue;
    z-index: 1;
    height: -webkit-calc(95vh);
    height: -moz-calc(95vh);
    height: calc(95vh);
    @include media-breakpoint-down(lg){
        min-height: 1100px;
    } 
    @include media-breakpoint-down(md){
        min-height: 1000px;
    }  
    @include media-breakpoint-down(sm){
        min-height: 700px;
    }  
}

.myCarousel{
    width: 100%;
    
    .content{
        width: 85%;
    }
    .picsum-img-wrapper{
        min-height: 250px;
        @include media-breakpoint-down(sm){
            min-height: 175px;
        }  
        @include media-breakpoint-up(xl){
            min-height: 300px;
        }  
        background-color: $blue-2;
    }
    p{
        font-size: 30px;
        color: $blue-4;
        font-weight: lighter;
    }

    button{
        background-color: $dark-blue;
        border: 2px solid $blue-4;
        box-shadow: 0px 0px 10px 0px $blue-4;
        color: $blue-4;
        font-size: 18px;
        border-radius: 20px;
        padding: 7px 20px 7px 20px;
    }

    button:hover{
        box-shadow: 0px 0px 20px 5px $blue-4;
        background-color: $blue-2;
        transition: all 0.5s;
    }
}