<app-spinner *ngIf="spinnerService.visibility | async"></app-spinner>
<div class="bg container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <p class="title pt-3">Top Rated Movies</p>
    </div>
    <div class="grid">
        <ng-container *ngFor="let film of movies">
            <img class="search-item" *ngIf="film.poster_path != null" (click)="navigateTo(film.id, film.first_air_date)" src="http://image.tmdb.org/t/p/w500{{film.poster_path}}"/>
        </ng-container>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center select-page"><button *ngIf="currentPage !== 1" class="prev" (click)="prevPage()"></button><p>{{currentPage}}</p><button *ngIf="currentPage !== 50" class="next" (click)="nextPage()"></button></div>

