@import "/src/assets/styles/variables";
@import "bootstrap/scss/bootstrap.scss";

.bg{
    background-color: $dark-blue;
    height: 200px;
    img{
        width: 200px;
    }
    hr{ 
    width: 80%;
    border-width: 1px;
    color: $blue-1;
    } 
    p{
        font-size: 16px;
        color: $blue-1;
    }
}


