@import "/src/assets/styles/variables";

.navbar{
    position: relative;
    background-color: $dark-blue;
    width: 100%;
}

.nav-link{
    color: $blue-4;
    padding: 15px !important;
    font-weight: 500;
    font-size: 16px;
}
.nav-link:hover{
    color: $blue-3;
}

.searchButton{
    background-color: transparent;
    border: none;
    padding: 30px;
    background-image: url("../../../assets/icons/search-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    font-size: 16px;
    border-radius: 50px;
    transition: all 0.3s;
}

.searchButton:hover{
    background-size: 35px;
    transition: all 0.3s;
}
