@import "/src/assets/styles/variables";

.navbar{
    position: relative;
    background-color: $dark-blue;
    width: 100%;
}
.navbar-toggler {
    border: none;
    outline: none;
--bs-navbar-toggler-icon-bg: url("../../../assets/icons/burger.png");
     &:focus,
     &:active,
     &-icon:focus {
       outline: none;
       box-shadow: none;
     }
}
.navbar-brand{
    width: 160px;        
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    } 
}

.dropdown-item{
    cursor: pointer;
    color: $dark-blue;
}
.dropdown-item:hover{
    background-color: $blue-4;
}
.dropdown-menu{
    background-color: $blue-3;
}
.nav-link{
    color: $blue-4;
    padding: 15px !important;
    font-weight: lighter;
    font-size: 18px;
}
.nav-link:hover{
    color: $blue-3;
}

.searchButton{
    background-color: transparent;
    border: none;
    padding: 30px;
    background-image: url("../../../assets/icons/search-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    font-size: 16px;
    border-radius: 50px;
    transition: all 0.3s;
}

.searchButton:hover{
    background-size: 35px;
    transition: all 0.3s;
}
