@import "/src/assets/styles/variables";

.navbar{
    position: fixed;
    width: 100%;
}

.nav-link{
    color: $blue-4;
    padding: 15px !important;
    font-weight: 500;
    font-size: 16px;
}
.nav-link:hover{
    color: $blue-3;
}

.search{
    background-color: transparent;
    border: 3px solid $blue-4;
    color: white;
    border-radius: 25px;
    padding: 10px 10px 10px 40px;
    background-image: url("../../../assets/icons/search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
    font-size: 16px;
}

.search:focus{
    border: 3px solid $blue-3;
    outline: none;
    box-shadow: 0px 0px 5px 0px $blue-4;
}

.search::placeholder{
    color: $blue-4;
}