@import "/src/assets/styles/variables";
@import "bootstrap/scss/bootstrap.scss";

.bg{
    background-color: $dark-blue;
}

.search-container{
    background-color: $dark-blue;
}

.close-button{
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    padding: 5px;
    background-image: url("../../../assets/icons/close-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    transition: all 0.5s;
} 

.close-button:hover{
    background-size: 40px;
    transition: all 0.5s;
} 

.search{
    background-color: transparent;
    border: 3px solid $blue-4;
    color: white;
    border-radius: 25px;
    padding: 10px 10px 10px 40px;
    background-image: url("../../../assets/icons/search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
    font-size: 16px;
}

.search:focus{
    border: 3px solid $blue-3;
    outline: none;
    box-shadow: 0px 0px 5px 0px $blue-4;
}

.search::placeholder{
    color: $blue-4;
}


.search-item{
    width: 180px;
    margin: 15px;
    transition: all 0.5s;
    cursor: pointer;
    @include media-breakpoint-down(sm){
        width: 140px;
    }  
}

.search-item:hover{
    box-shadow: 0px 0px 5px 0px $blue-4;
    transition: all 0.5s;      
}

.blank-search{
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
}
