@import "/src/assets/styles/variables";
@import "/src/assets/styles/slider.scss";

.bg{
    background-color: $dark-blue;
    .poster-box{
        width: 100%;
        @include media-breakpoint-up(lg){
            width: 50%;
            height: 800px;
        } 
    }
    .content-box{
        width: 100%;
        @include media-breakpoint-up(lg){
            width: 50%;
        } 
    }
    .poster{
        width: 250px;
        margin: 70px;
        @include media-breakpoint-up(md){
            width: 350px;
        } 
        @include media-breakpoint-up(lg){
            margin: 0px;
            width: 400px;
        } 
    }
    .information-box{
        width: 85%;
        .name{
            color: $blue-4;
            font-size: 30px;
            font-weight: bolder;
        }
        .place{
            color: $blue-1;
            font-size: 14px;
            font-weight: light;
        }
        .birth{
            color: $blue-1;
            font-size: 14px;
            font-weight: bold;
        }
        .description{
            font-size: 18px;
            color: $blue-3;
        }
    }
}
.sub-title{
    font-size: 30px;
    font-weight: light;
    color: $blue-4;
}